@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255; /* #FFFFFF */
  --foreground: 35, 46, 70; /* #232E46 */

  --primary: 229, 231, 235; /* #E5E7EB */
  --primary-light: 216, 217, 221; /* #D8D9DD */
  --primary-dark: 156, 163, 175; /* #9CA3AF */

  --secondary: 122, 128, 138; /* #7A808A */
  --secondary-light: 111, 116, 125; /* #6F747D */
  --secondary-dark: 101, 106, 114; /* #656A72 */

  --tertiary: 29, 78, 216; /* #1D4ED8 */
  --tertiary-light: 59, 130, 246; /* #3B82F6 */
  --tertiary-dark: 30, 64, 175; /* #1E40AF */

  --tester: var(--tertiary-dark);
  --tester2: var(--tertiary);
  --tester3: red;

  --theme-navbar-bg: var(--background);
  --theme-navbar-border-b: var(--primary);

  --theme-navItem-background: red;
  --theme-navItem-fontSize: 2rem;

  --theme-navbar-search: var();
  --theme-navbar-search-icon: var();
}

.dark-mode {
  --background: #1a1a1a;
  --foreground: #f3f4f6;

  --primary: #4b5563;
  --primary-light: #6b7280;
  --primary-dark: #374151;

  --secondary: #2c3441;
  --secondary-light: #1f2630;
  --secondary-dark: #0d1320;

  --secondary: #cc6600;
  --secondary-light: #e67300;
  --secondary-dark: #b34205;

  --tester: var(--tertiary-dark);

  --btn-bg: var(--secondary-light);
  --btn-bg-hover: var(--secondary-dark);
  --btn-border: var(--primary-light);
  --btn-text: var(--foreground);
  --btn-ring: var(--tertiary);
  --list: var(--primary);
  --list-bg-hover: var(--primary-dark);
  --list-text: var(--foreground);
  --btn-icon-bg-hover: var(--btn-bg-hover);

  --search-input-bg: var(--secondary);
  --search-input-icon: var(--primary-light);
  --search-input-text: var(--primary-light);
  --search-input-border: var(--primary-dark);
  --search-input-ring: var(--tertiary);
  --search-input-placeholder: var(--primary-light);

  --btn-icon-bg: var(--primary-light);
}

/* Navbar  */
.theme-navbar {
  background-color: rgb(var(--theme-navbar-bg));
  border-bottom: 1px solid rgb(var(--theme-navbar-border-b));
}
.theme-navItem {
  color: var(--theme-navItem-bg);
  font-size: var(--theme-navItem-fontSize);
}
