@import "tailwindcss";

body {
  box-sizing: border-box;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border-radius: 4px; */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Gray variant */
.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollbar-thumb-gray-300:hover::-webkit-scrollbar-thumb {
  background: #9ca3af;
}

/* Blue variant */
.scrollbar-thumb-blue-300::-webkit-scrollbar-thumb {
  background: #93c5fd;
}

.scrollbar-track-blue-50::-webkit-scrollbar-track {
  background: #eff6ff;
}

.scrollbar-thumb-blue-300:hover::-webkit-scrollbar-thumb {
  background: #60a5fa;
}

/* Amber variant */
.scrollbar-thumb-amber-200::-webkit-scrollbar-thumb {
  background: #fde68a;
}

.scrollbar-track-amber-50::-webkit-scrollbar-track {
  background: #fffbeb;
}

.scrollbar-thumb-amber-200:hover::-webkit-scrollbar-thumb {
  background: #fbbf24;
}

/* ///////////////////////// */
/* Sidebar.jsx  */
.sidebar-link {
  color: var(--text-sidebar);
}

.sidebar-link:hover {
  background: color-mix(in srgb, var(--bg-sidebar-active) 30%, transparent);
  color: var(--text-sidebar-active);
}

.sidebar-link-active {
  background: var(--bg-sidebar-active);
  color: var(--text-sidebar-active);
}

.sidebar-link-active:hover {
  background: var(--bg-sidebar-active);
}

/* ///////////////////////// */
/* Header.jsx  */
.header-back-button {
  background: var(--bg-badge);
  color: var(--text-secondary);
  transition:
    background 0.2s ease,
    color 0.2s ease;
}
.header-back-button:hover:not(:disabled) {
  background: var(--accent);
  color: var(--text-sidebar-active);
}
/* Theme switcher  */
.theme-switcher-button {
  background: var(--bg-badge);
  color: var(--text-secondary);
}
.theme-switcher-button:hover {
  background: var(--accent);
  color: var(--text-sidebar-active);
}
.theme-switcher-dropdown {
  background: var(--bg-card);
  border: 1px solid var(--bg-sidebar-active);
  color: var(--text-secondary);
}
.theme-switcher-dropdown-button:hover {
  background: color-mix(in srgb, var(--bg-sidebar-active) 60%, transparent);
  color: var(--text-sidebar-active);
}
.theme-switcher-dropdown-button-active {
  background: var(--bg-sidebar-active) !important;
  color: var(--text-sidebar-active);
}
/* Profile button */
.profile-dropdown:hover {
  background: var(--bg-badge);
  color: var(--text-secondary);
}
.profile-dropdown-button {
  background: var(--bg-card);
  border: 1px solid var(--bg-sidebar-active);
  color: var(--text-secondary);
}
.profile-dropdown-links:hover {
  background: var(--accent);
  color: var(--text-sidebar-active);
}
.profile-dropdown-link-sign-out {
  color: var(--text-secondary);
}
.profile-dropdown-link-sign-out:hover {
  color: var(--text-sidebar-active);
  background: var(--red);
}

/* ///////////////////////// */
/* AnalyticsLayout.jsx  */
.analytics-tabs {
  color: var(--bg-sidebar-active);
}
.analytics-tabs-active {
  background: var(--bg-sidebar-active) !important;
  color: var(--text-sidebar-active);
}
.analytics-tabs:hover {
  background: color-mix(in srgb, var(--bg-sidebar-active) 60%, transparent);
  color: var(--text-sidebar-active);
}
